---
title: Go Microservices
date: 2021-01-24T18:24:27.136Z
link: go-microservices
abstract: Writing microservices is hard. There are lots of application concerns that we have to keep in mind like rate limiting, circuit breaking, retries, logging, metrics collection, feature flags, etc. Frameworks like Spring Boot, Ruby on Rails, and Django have generally helped with this problem for developers, but what does Go have?
---

Go Microservices